doctype 5
html(lang="en" ng-app="bacchos")
    head
        meta(charset="utf-8")
        title=title
        link(rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css")
        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
        link(rel="stylesheet" href="stylesheets/map.css")
        #link(rel="stylesheet" href="media/wine_icon.png")
    body(ng-controller="MapCtrl")
        div(class="container")
            div(class="row")
                div(class="col-md-3")
                    h3 Bacchos Wine
                    div(class="well")
                        form(ng-submit="processForm('/stores')" role='form')
                            div(class="form-group")
                                input(type="text", ng-model="formData.zipcode" class="form-control" placeholder="zipcode" value="90210")
                            div(class="form-group")
                                select(ng-model="formData.country" class="form-control" id="country-select") 
                                    option(value="" default selected) select country
                                    option(value="US") United States
                                    option(value="CA") Canada
                                    option(value="ES") Spain
                            button(type="submit" class="btn btn-info" ng-click="addKeys(formData)") search
                    div(class="well" ng-show="wineContent")
                        div(ng-if="store.url != undefined")
                            h4: a(href="store.url"){{store.name}}
                            p {{store.loc}}
                        div(ng-if="store.url == undefined")
                            h4 {{store.name}}
                            p {{store.loc}}
                        div(ng-if="store.wines === true")
                            a(href="#store/wines" ng-click="getWines(store.id)") wines
                div(class="col-md-9" id="map-div" resize)
                    leaflet(id="map" center="center" markers="markers")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js").
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js").
        script(type="text/javascript", src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js").
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-sanitize.js").
        script(src="js/leaflet_directive.js").
        script(src="js/app.js").
        script(src="js/controllers.js").
        script(src="js/services.js").
        script(src="js/directives.js").
