doctype 5
html(lang="en")
    head
        title=title
        link(rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css")
    body
        div#map
        div
            form(id="zipcode-form", action="/ajax/map", method="POST")
                input(type='text', name='zipcode')
                input(type='submit', value='search')
        script(type='text/javascript', src='http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js').
        script(type='text/javascript', src='http://code.jquery.com/jquery-1.10.0.min.js').
        script(type='text/javascript', src='/javascripts/map.js').
        script(type='text/javascript').
            $(function(){
                $(document).ready(function() {
                    mapInit();
                });
            });


