#container {
        width:100%;
        height: 100%;
        position: relative;
}


#map-wrapper {
    height: 100%;
    position: absolute;
    right: 0;
    width: 75%;
    float: left;
}

#map {
    width: 100%;
    height: 100%;
}

#info-column {
    height: 100%;
        position: absolute;
        width: 23%;
        float: left;        
}

.info-column-content {
    position: relative;
    width: 100%;
    left: 20px;
}

button {
        overflow: visible;
        width: auto;
}

.store-button {
        background: none;
        margin: 0;
        padding: 0;
        border: none;
        cursor: pointer;
        font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
        font-size: 13px;
        line-height: 16px;
        color: blue;

}


.wine-button {
        background: none;
        margin: 0;
        padding: 0;
        border: none;
        cursor: pointer;
        font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
        font-size: 13px;
        line-height: 16px;
        color: blue;

}

#wine-box {
        position: relative;
        top: 50px;
        left: 20px;
        overflow-y: scroll;
        text-align: left;
        width: 100%;
        height: 70%;        
        background-color: white;
}
